body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:301px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:42px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:301px;
  height:41px;
  font-size:20px;
  color:#0033FF;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:297px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:0px;
  top:120px;
}
#u75_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:302px;
  height:303px;
  background-image:none;
}
#u75_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:302px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:302px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:303px;
  height:302px;
  visibility:hidden;
  background-image:none;
}
#u75_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:301px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:301px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
